body{
background:#343541;
font-family:Arial;
margin:0;
color:white;
}

.main{
display:flex;
height:100vh;
}

.sidebar{
width:220px;
background:#202123;
padding:15px;
overflow-y:auto;
}

.sidebar li{
margin-bottom:10px;
font-size:14px;
}

.chat-area{
flex:1;
padding:20px;
}

#chatbox{
height:420px;
overflow-y:auto;
background:#444654;
padding:20px;
border-radius:10px;
}

.user{
background:#10a37f;
padding:10px;
margin:10px;
border-radius:8px;
text-align:right;
}

.bot{
background:#202123;
padding:10px;
margin:10px;
border-radius:8px;
}

.input-area{
display:flex;
margin-top:10px;
}

input{
flex:1;
padding:12px;
border:none;
border-radius:5px;
}

button{
padding:12px;
margin-left:5px;
background:#10a37f;
border:none;
color:white;
cursor:pointer;
}

#scrollBtn{
position:fixed;
right:30px;
bottom:120px;
background:#10a37f;
border:none;
color:white;
font-size:20px;
padding:10px;
border-radius:50%;
display:none;
}